@page
@model WebApplication3.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Orde</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Orde.Data" class="control-label"></label>
                <input asp-for="Orde.Data" class="form-control" />
                <span asp-validation-for="Orde.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orde.Time" class="control-label"></label>
                <input asp-for="Orde.Time" class="form-control" />
                <span asp-validation-for="Orde.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orde.CustomerName" class="control-label"></label>
                <input asp-for="Orde.CustomerName" class="form-control" />
                <span asp-validation-for="Orde.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orde.Phone" class="control-label"></label>
                <input asp-for="Orde.Phone" class="form-control" />
                <span asp-validation-for="Orde.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orde.Cost" class="control-label"></label>
                <input asp-for="Orde.Cost" class="form-control" />
                <span asp-validation-for="Orde.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orde.Chec" class="control-label"></label>
                <input asp-for="Orde.Chec" class="form-control" />
                <span asp-validation-for="Orde.Chec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orde.EmployeeCode" class="control-label"></label>
                <select asp-for="Orde.EmployeeCode" class ="form-control" asp-items="ViewBag.EmployeeCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="Orde.DishCode" class="control-label"></label>
                <select asp-for="Orde.DishCode" class ="form-control" asp-items="ViewBag.DishCode"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
