@page
@model WebApplication3.Pages.FilReq.Request.IndexModel
@{

    <h1>Отдел кадров</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Emploeey[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Emploeey[0].PositionCode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Emploeey)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Model.Position.jobtitle

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

